@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
/*
html
{
   background: red;
}
*/


 .inputfile
 {
   position: absolute;
   top: 0px;
   right: 0px;
   margin: 0px;
   opacity: 0;
   font-size: 200px;
   direction: ltr;
   cursor: pointer;
}

.fileinput-button {
    position: relative;
    overflow: hidden;
    display: inline-block;
}
